## Antibody split

In [40]:
import sys
from sys import stdout
import inspect
from functional import seq
from pathlib import Path
from pycomfort.files import *
import biopandas
from biopandas.pdb import PandasPdb

In [2]:
debug_local = True#False
local = Path("..").resolve()
code = local / "mm"
data  = local / "data"
input = data / "input"
output = Path("/media/antonkulaga/Elements/molecular_dynamics")

if debug_local and code.exists():
    sys.path.insert(0, code.as_posix())
    print("extending pathes with local mm")
    print(sys.path)
    %load_ext autoreload
    %autoreload 2

extending pathes with local mm
['/data/sources/antibody-mm/mm', '/data/sources/antibody-mm/notebooks', '/home/antonkulaga/micromamba/envs/antibody-mm/lib/python39.zip', '/home/antonkulaga/micromamba/envs/antibody-mm/lib/python3.9', '/home/antonkulaga/micromamba/envs/antibody-mm/lib/python3.9/lib-dynload', '', '/home/antonkulaga/micromamba/envs/antibody-mm/lib/python3.9/site-packages', '/home/antonkulaga/micromamba/envs/antibody-mm/lib/python3.9/site-packages/IPython/extensions', '/home/antonkulaga/.ipython']

In [3]:
docking_results = Path("/data/samples/docking/RA/results")
best_docking_results = docking_results / "best"
tprint(best_docking_results)

best
	S5205Nr1-P2_IgG1Fc_H_top_30_heavy_chains
		FIXED_2_27457_H_244_energy_-284.44533.pdb
		3_17806_H_5_energy_-238.0523.pdb
		FIXED_3_17806_H_24_energy_-221.3707.pdb
		3_17806_H_35_energy_-224.0373.pdb
		FIXED_2_27457_H_253_energy_-246.08788.pdb
		FIXED_1_35744_H_64_energy_-263.5477.pdb
		FIXED_1_35744_H_1_energy_-254.21349.pdb
		1_35744_H_64_energy_-263.5477.pdb
		FIXED_2_27457_H_257_energy_-248.7721.pdb
		1_35744_H_1_energy_-254.21349.pdb
		2_27457_H_257_energy_-248.7721.pdb
		FIXED_1_35744_H_112_energy_-265.2682.pdb
		FIXED_3_17806_H_5_energy_-238.0523.pdb
		1_35744_H_112_energy_-265.2682.pdb
		2_27457_H_253_energy_-246.08788.pdb
		FIXED_3_17806_H_35_energy_-224.0373.pdb
		2_27457_H_244_energy_-284.44533.pdb
		3_17806_H_24_energy_-221.3707.pdb
	S5205Nr1-P2_PBMC_L_top_30_heavy_chains
		1_27244_H_30_energy_-263.64684.pdb
		1_27244_H_23_energy_-251.4212.pdb
		1_27244_H_297_energy_-260.30115.pdb

In [9]:
best_p2_auto = best_docking_results / "S5205Nr1-P2_IgG1Fc_H_top_30_heavy_chains"
tprint(best_p2_auto)

S5205Nr1-P2_IgG1Fc_H_top_30_heavy_chains
	FIXED_2_27457_H_244_energy_-284.44533.pdb
	3_17806_H_5_energy_-238.0523.pdb
	FIXED_3_17806_H_24_energy_-221.3707.pdb
	3_17806_H_35_energy_-224.0373.pdb
	FIXED_2_27457_H_253_energy_-246.08788.pdb
	FIXED_1_35744_H_64_energy_-263.5477.pdb
	FIXED_1_35744_H_1_energy_-254.21349.pdb
	1_35744_H_64_energy_-263.5477.pdb
	FIXED_2_27457_H_257_energy_-248.7721.pdb
	1_35744_H_1_energy_-254.21349.pdb
	2_27457_H_257_energy_-248.7721.pdb
	FIXED_1_35744_H_112_energy_-265.2682.pdb
	FIXED_3_17806_H_5_energy_-238.0523.pdb
	1_35744_H_112_energy_-265.2682.pdb
	2_27457_H_253_energy_-246.08788.pdb
	FIXED_3_17806_H_35_energy_-224.0373.pdb
	2_27457_H_244_energy_-284.44533.pdb
	3_17806_H_24_energy_-221.3707.pdb

In [54]:
def read_pdb(p: Path):
    from biopandas.pdb import PandasPdb
    return PandasPdb().read_pdb(str(p))

In [55]:
def split(p: Path):
    pdb = read_pdb(p)
    antibody = pdb.copy()
    antigen= pdb.copy()
    antibody["ATOM"] = antibody["ATOM"][antibody["ATOM"]["chain_id"] =="B"]
    antigen["ATOM"] = antigen["ATOM"][antigen["ATOM"]["chain_id"] =="A"]        
    return antibody, antigen, pdb

In [57]:
pdb = read_pdb(p)

ValueError: Wrong file format; allowed file formats are .pdb, .pdb.gz, .ent, .ent.gz

In [52]:
antibody, antigen, original = split(best_p2_auto / "FIXED_1_35744_H_1_energy_-254.21349.pdb")

AttributeError: 'PandasPdb' object has no attribute 'copy'

In [53]:
original

{'ATOM':      record_name  atom_number blank_1 atom_name alt_loc residue_name blank_2  \
 0           ATOM            1                 N                  THR
 1           ATOM            2                H2                  THR
 2           ATOM            3                H3                  THR
 3           ATOM            4                 H                  THR
 4           ATOM            5                CA                  THR
 ...          ...          ...     ...       ...     ...          ...     ...
 4874        ATOM         4876              HD22                  LEU
 4875        ATOM         4877              HD23                  LEU
 4876        ATOM         4878                 C                  LEU
 4877        ATOM         4879                 O                  LEU
 4878        ATOM         4880               OXT                  LEU

      chain_id  residue_number insertion  ... x_coord  y_coord  z_coord  \
 0           A               1            ... -20.396   -8.458  -23.227
 1           A               1            ... -20.941   -7.492  -23.692
 2           A               1            ... -20.663   -9.362  -23.970
 3           A               1            ... -20.917   -8.637  -22.414
 4           A               1            ... -18.963   -8.239  -23.100
 ...       ...             ...       ...  ...     ...      ...      ...
 4874        B             443            ...  34.268    0.706   -5.940
 4875        B             443            ...  35.323   -0.160   -4.695
 4876        B             443            ...  34.229    4.444   -3.484
 4877        B             443            ...  34.922    4.666   -2.469
 4878        B             443            ...  34.136    4.727   -4.965

       occupancy  b_factor  blank_4 segment_id element_symbol charge  line_idx
 0           1.0       0.0                                  N    NaN         2
 1           1.0       0.0                                  H    NaN         3
 2           1.0       0.0                                  H    NaN         4
 3           1.0       0.0                                  H    NaN         5
 4           1.0       0.0                                  C    NaN         6
 ...         ...       ...      ...        ...            ...    ...       ...
 4874        1.0       0.0                                  H    NaN      4877
 4875        1.0       0.0                                  H    NaN      4878
 4876        1.0       0.0                                  C    NaN      4879
 4877        1.0       0.0                                  O    NaN      4880
 4878        1.0       0.0                                  O    NaN      4881

 [4879 rows x 21 columns],
 'HETATM': Empty DataFrame
 Columns: [record_name, atom_number, blank_1, atom_name, alt_loc, residue_name, blank_2, chain_id, residue_number, insertion, blank_3, x_coord, y_coord, z_coord, occupancy, b_factor, blank_4, segment_id, element_symbol, charge, line_idx]
 Index: []

 [0 rows x 21 columns],
 'ANISOU': Empty DataFrame
 Columns: [record_name, atom_number, blank_1, atom_name, alt_loc, residue_name, blank_2, chain_id, residue_number, insertion, blank_3, U(1,1), U(2,2), U(3,3), U(1,2), U(1,3), U(2,3), blank_4, element_symbol, charge, line_idx]
 Index: []

 [0 rows x 21 columns],
 'OTHERS':   record_name                                              entry  line_idx
 0      REMARK     1 PDBFIXER FROM: 1_35744_H_1_energy_-254.21...         0
 1      REMARK              1 CREATED WITH OPENMM 7.7, 2022-04-07         1
 2         TER                                1605      SER A 105      1606
 3         TER                                4881      LEU B 443      4882
 4      CONECT                                          1992 2969      4883
 5      CONECT                                          2969 1992      4884
 6      CONECT                                          3688 4589      4885
 7      CONECT                                          4589 3688      4886
 8         END                                                         4887}

In [24]:
p = read_pdb(best_p2_auto / "FIXED_1_35744_H_1_energy_-254.21349.pdb")
p

{'ATOM':      record_name  atom_number blank_1 atom_name alt_loc residue_name blank_2  \
 0           ATOM            1                 N                  THR
 1           ATOM            2                H2                  THR
 2           ATOM            3                H3                  THR
 3           ATOM            4                 H                  THR
 4           ATOM            5                CA                  THR
 ...          ...          ...     ...       ...     ...          ...     ...
 4874        ATOM         4876              HD22                  LEU
 4875        ATOM         4877              HD23                  LEU
 4876        ATOM         4878                 C                  LEU
 4877        ATOM         4879                 O                  LEU
 4878        ATOM         4880               OXT                  LEU

      chain_id  residue_number insertion  ... x_coord  y_coord  z_coord  \
 0           A               1            ... -20.396   -8.458  -23.227
 1           A               1            ... -20.941   -7.492  -23.692
 2           A               1            ... -20.663   -9.362  -23.970
 3           A               1            ... -20.917   -8.637  -22.414
 4           A               1            ... -18.963   -8.239  -23.100
 ...       ...             ...       ...  ...     ...      ...      ...
 4874        B             443            ...  34.268    0.706   -5.940
 4875        B             443            ...  35.323   -0.160   -4.695
 4876        B             443            ...  34.229    4.444   -3.484
 4877        B             443            ...  34.922    4.666   -2.469
 4878        B             443            ...  34.136    4.727   -4.965

       occupancy  b_factor  blank_4 segment_id element_symbol charge  line_idx
 0           1.0       0.0                                  N    NaN         2
 1           1.0       0.0                                  H    NaN         3
 2           1.0       0.0                                  H    NaN         4
 3           1.0       0.0                                  H    NaN         5
 4           1.0       0.0                                  C    NaN         6
 ...         ...       ...      ...        ...            ...    ...       ...
 4874        1.0       0.0                                  H    NaN      4877
 4875        1.0       0.0                                  H    NaN      4878
 4876        1.0       0.0                                  C    NaN      4879
 4877        1.0       0.0                                  O    NaN      4880
 4878        1.0       0.0                                  O    NaN      4881

 [4879 rows x 21 columns],
 'HETATM': Empty DataFrame
 Columns: [record_name, atom_number, blank_1, atom_name, alt_loc, residue_name, blank_2, chain_id, residue_number, insertion, blank_3, x_coord, y_coord, z_coord, occupancy, b_factor, blank_4, segment_id, element_symbol, charge, line_idx]
 Index: []

 [0 rows x 21 columns],
 'ANISOU': Empty DataFrame
 Columns: [record_name, atom_number, blank_1, atom_name, alt_loc, residue_name, blank_2, chain_id, residue_number, insertion, blank_3, U(1,1), U(2,2), U(3,3), U(1,2), U(1,3), U(2,3), blank_4, element_symbol, charge, line_idx]
 Index: []

 [0 rows x 21 columns],
 'OTHERS':   record_name                                              entry  line_idx
 0      REMARK     1 PDBFIXER FROM: 1_35744_H_1_energy_-254.21...         0
 1      REMARK              1 CREATED WITH OPENMM 7.7, 2022-04-07         1
 2         TER                                1605      SER A 105      1606
 3         TER                                4881      LEU B 443      4882
 4      CONECT                                          1992 2969      4883
 5      CONECT                                          2969 1992      4884
 6      CONECT                                          3688 4589      4885
 7      CONECT                                          4589 3688      4886
 8         END                                                         4887}

In [33]:
antigen= p.copy()
antibody = p.copy()

In [35]:
antigen["ATOM"][antigen["ATOM"]["chain_id"] =="A"]

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
0,ATOM,1,,N,,THR,,A,1,,...,-20.396,-8.458,-23.227,1.0,0.0,,,N,NaN,2
1,ATOM,2,,H2,,THR,,A,1,,...,-20.941,-7.492,-23.692,1.0,0.0,,,H,NaN,3
2,ATOM,3,,H3,,THR,,A,1,,...,-20.663,-9.362,-23.970,1.0,0.0,,,H,NaN,4
3,ATOM,4,,H,,THR,,A,1,,...,-20.917,-8.637,-22.414,1.0,0.0,,,H,NaN,5
4,ATOM,5,,CA,,THR,,A,1,,...,-18.963,-8.239,-23.100,1.0,0.0,,,C,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,ATOM,1600,,OG,,SER,,A,105,,...,-15.663,-14.404,25.695,1.0,0.0,,,O,NaN,1601
1600,ATOM,1601,,HG,,SER,,A,105,,...,-16.319,-13.717,25.838,1.0,0.0,,,H,NaN,1602
1601,ATOM,1602,,C,,SER,,A,105,,...,-17.543,-16.560,25.310,1.0,0.0,,,C,NaN,1603
1602,ATOM,1603,,O,,SER,,A,105,,...,-18.577,-15.988,24.962,1.0,0.0,,,O,NaN,1604
1603,ATOM,1604,,OXT,,SER,,A,105,,...,-16.352,-17.126,25.594,1.0,0.0,,,O,NaN,1605

In [37]:
antibody["ATOM"][antibody["ATOM"]["chain_id"] =="B"]

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,x_coord,y_coord,z_coord,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx
1604,ATOM,1606,,N,,PRO,,B,238,,...,-23.504,-6.216,-0.098,1.0,0.0,,,N,NaN,1607
1605,ATOM,1607,,H2,,PRO,,B,238,,...,-23.443,-6.227,0.936,1.0,0.0,,,H,NaN,1608
1606,ATOM,1608,,H3,,PRO,,B,238,,...,-22.989,-7.087,-0.372,1.0,0.0,,,H,NaN,1609
1607,ATOM,1609,,CA,,PRO,,B,238,,...,-22.594,-5.132,-0.510,1.0,0.0,,,C,NaN,1610
1608,ATOM,1610,,HA,,PRO,,B,238,,...,-22.101,-5.248,-1.581,1.0,0.0,,,H,NaN,1611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4874,ATOM,4876,,HD22,,LEU,,B,443,,...,34.268,0.706,-5.940,1.0,0.0,,,H,NaN,4877
4875,ATOM,4877,,HD23,,LEU,,B,443,,...,35.323,-0.160,-4.695,1.0,0.0,,,H,NaN,4878
4876,ATOM,4878,,C,,LEU,,B,443,,...,34.229,4.444,-3.484,1.0,0.0,,,C,NaN,4879
4877,ATOM,4879,,O,,LEU,,B,443,,...,34.922,4.666,-2.469,1.0,0.0,,,O,NaN,4880
4878,ATOM,4880,,OXT,,LEU,,B,443,,...,34.136,4.727,-4.965,1.0,0.0,,,O,NaN,4881